
<header class="main-header">
  <div class="logo">
    <span class="logo-icon">D</span>
    <span class="logo-title">Directorio de <strong>Profesionales</strong></span>
  </div>
  <nav class="main-nav">
    <a [routerLink]="['/inicio']">Inicio</a>
    <a [routerLink]="['/profesional-list']">Profesionales</a>
    <a [routerLink]="['/destacados']">Destacados</a>
    <a [routerLink]="['/contacto-profesional']">Contacto</a>
    <a [routerLink]="['/profesional-detail']">Detalles</a>
    <a [routerLink]="['/agregar-profesionales']">Agregar</a>
  </nav>
</header>


