.container {
  max-width: 1500px;
  margin: 0;
  padding: 0 40px;
}

/* Wrapper dinámico */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #f0f2f5;
}

/* Ocultar contenedor normal cuando sea login */
.login-wrapper .container {
  display: none;
}

/* Estilos globales para login */
:host-context(.login-wrapper) app-header {
  display: none;
}
